In [8]:
#%pip install pandas

In [9]:
import re

In [10]:
import pandas as pd

#Dados dos clientes gerais.
clientes_CodEmpresa = pd.read_csv("C:/Users/vini7/Desktop/Arquivos Python/Solução Case AdvBox/Teste Prático Vinicius Mendes/backup/v_clientes_CodEmpresa_92577.csv", 
                                  encoding = "latin1", sep=";")

#Código do estado civil dos clientes.
clientes_estadoCivil = pd.read_csv("C:/Users/vini7/Desktop/Arquivos Python/Solução Case AdvBox/Teste Prático Vinicius Mendes/backup/v_cliente_estado_civil_CodEmpresa_92577.csv", 
                                   encoding = "latin1", sep=";")

In [11]:
clientes_CodEmpresa

,codigo,codempresa,codigo_administrativo,codigo_unit,razao_social,nome_fantasia,responsavel,cnpj,contato_nome,contato_ddd1,...,campo_livre2,cod_campo_livre2,cod_terceiro_categoria,numero_pasta,migracao_parceiro,cod_cliente_estado_civil,cod_usuario,cod_estado_brasil,migracao3,cod_escolaridade
0,106207729,92577,NaN,0,Fulano(a) 1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,NaN,NaN
1,106206605,92577,NaN,0,Fulano(a) 2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1366.0,NaN,NaN,NaN,NaN,NaN,NaN
2,8897738,92577,NaN,0,Fulano(a) 3,NaN,NaN,NaN,NaN,NaN,...,NaN,7461.0,NaN,341.0,NaN,NaN,NaN,NaN,NaN,NaN
3,5251301,92577,NaN,0,Fulano(a) 4,NaN,NaN,NaN,NaN,NaN,...,NaN,6280.0,NaN,160.0,NaN,NaN,NaN,NaN,NaN,NaN
4,13203419,92577,NaN,0,Fulano(a) 5,NaN,NaN,NaN,Jana,NaN,...,NaN,6280.0,NaN,560.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1656,104966717,92577,NaN,0,Fulano(a) 1657,NaN,NaN,12.345.678/0001-915,NaN,NaN,...,NaN,100001681.0,NaN,1240.0,NaN,NaN,NaN,NaN,NaN,NaN
1657,5868578,92577,NaN,0,Fulano(a) 1658,NaN,NaN,12.345.678/0001-916,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1658,103056471,92577,NaN,0,Fulano(a) 1659,NaN,NaN,12.345.678/0001-917,NaN,NaN,...,NaN,6279.0,NaN,1064.0,NaN,NaN,NaN,NaN,NaN,NaN
1659,105142293,92577,NaN,0,Fulano(a) 1660,NaN,NaN,12.345.678/0001-918,NaN,NaN,...,NaN,NaN,NaN,1265.0,NaN,NaN,NaN,NaN,NaN,NaN
1660,15159965,92577,NaN,0,Fulano(a) 1661,NaN,NaN,12.345.678/0001-919,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
clientes_CodEmpresa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1661 entries, 0 to 1660
Data columns (total 83 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   codigo                     1661 non-null   int64
 1   codempresa                 1661 non-null   int64
 2   codigo_administrativo      0 non-null      float64
 3   codigo_unit                1661 non-null   int64
 4   razao_social               1661 non-null   object
 5   nome_fantasia              3 non-null      object
 6   responsavel                3 non-null      object
 7   cnpj                       908 non-null    object
 8   contato_nome               56 non-null     object
 9   contato_ddd1               0 non-null      float64
 10  contato_telefone1          768 non-null    object
 11  inscricao_estadual         3 non-null      float64
 12  inscricao_municipal        1 non-null      float64
 13  ramo_atividade             37 non-null     object
 14  tratamento                 0 non-null      float64
 15  estado_civil               1236 non-null   object
 16  oab                        0 non-null      float64
 17  cpf                        274 non-null    object
 18  rg                         1124 non-null   object
 19  nascimento                 1242 non-null   object
 20  profissao                  1086 non-null   object
 21  nacionalidade              1316 non-null   object
 22  logradouro                 1073 non-null   object
 23  numero                     0 non-null      float64
 24  complemento                0 non-null      float64
 25  bairro                     1466 non-null   object
 26  cep                        500 non-null    object
 27  cidade                     1634 non-null   object
 28  uf                         1634 non-null   object
 29  ddd1                       0 non-null      float64
 30  telefone1                  919 non-null    object
 31  ddd2                       0 non-null      float64
 32  telefone2                  1491 non-null   object
 33  ddd3                       0 non-null      float64
 34  telefone3                  630 non-null    object
 35  email1                     2 non-null      object
 36  email2                     2 non-null      object
 37  site                       5 non-null      object
 38  observacoes                437 non-null    object
 39  cliente                    1661 non-null   object
 40  tipocliente                1657 non-null   float64
 41  ativo                      1661 non-null   int64
 42  inclusao                   1660 non-null   object
 43  matricula                  0 non-null      float64
 44  grupo_cliente              1660 non-null   float64
 45  contato_nome2              0 non-null      float64
 46  contato_nome3              0 non-null      float64
 47  contato_ddd2               0 non-null      float64
 48  contato_ddd3               0 non-null      float64
 49  contato_telefone2          37 non-null     object
 50  contato_telefone3          0 non-null      float64
 51  contato_setor1             0 non-null      float64
 52  contato_setor2             0 non-null      float64
 53  contato_setor3             0 non-null      float64
 54  contato_email1             0 non-null      float64
 55  contato_email2             0 non-null      float64
 56  contato_email3             0 non-null      float64
 57  ddd_comercial              0 non-null      float64
 58  telefone_comercial         862 non-null    object
 59  pis                        134 non-null    float64
 60  nome_pai                   142 non-null    object
 61  nome_mae                   142 non-null    object
 62  pac                        1660 non-null   float64
 63  visualizado_relatorio_pac  1660 non-null   float64
 64  pac_regional               0 non-null      float64
 65  cod_fase_cliente           1660 non-null   float64
 66  migracao                   0 non-null      float64
 67  razao_social_2             1660 non-null   object
 68  migracao2                  0 non-null      float64
 69  cpf_cnpj                   945 non-null    object
 70  escritorio                 0 non-null      float64
 71  cod_perfil_cliente         1660 non-null   float64
 72  campo_livre1               14 non-null     object
 73  campo_livre2               4 non-null      object
 74  cod_campo_livre2           890 non-null    float64
 75  cod_terceiro_categoria     17 non-null     float64
 76  numero_pasta               1255 non-null   float64
 77  migracao_parceiro          0 non-null      float64
 78  cod_cliente_estado_civil   0 non-null      float64
 79  cod_usuario                0 non-null      float64
 80  cod_estado_brasil          0 non-null      float64
 81  migracao3                  0 non-null      float64
 82  cod_escolaridade           90 non-null     float64
dtypes: float64(44), int64(4), object(35)
memory usage: 1.1+ MB

In [13]:
clientes_CodEmpresa["inclusao"].unique()

array(['11/02/2022 14:52', '11/02/2022 11:53', '04/07/2014 09:41', ...,
       '13/11/2019 17:52', '14/05/2021 19:43', nan], dtype=object)

In [14]:
clientes_CodEmpresa[["cliente","grupo_cliente", "razao_social_2"]]

     cliente  grupo_cliente  razao_social_2
0         FI        57759.0     FULANO(A) 1
1         FI        57759.0     FULANO(A) 2
2         FI        57759.0     FULANO(A) 3
3         FI        57759.0     FULANO(A) 4
4         FI        57759.0     FULANO(A) 5
...      ...            ...             ...
1656      FI        57759.0  FULANO(A) 1657
1657      JU            0.0  FULANO(A) 1658
1658      FI        57759.0  FULANO(A) 1659
1659      FI            0.0  FULANO(A) 1660
1660      FI            NaN             NaN

[1661 rows x 3 columns]

In [15]:
clientes_CodEmpresa["estado_civil"].unique()

array([nan, 'CA', 'DV', 'SO', '0', 'SJ', 'VI', 'UE', 'SE'], dtype=object)

In [16]:
clientes_CodEmpresa["contato_nome"].unique()

array([nan, 'Jana', 'Marcos ( filho )'], dtype=object)

In [17]:
clientes_CodEmpresa["telefone2"].unique()

array(['(00) 9999-1111', '(00) 9999-1112', '(00) 9999-1113', ...,
       '(00) 9999-2613', '(00) 9999-2614', '(00) 9999-2615'], dtype=object)

In [18]:
clientes_CodEmpresa["telefone_comercial"].unique()

array([nan, 'irmão (00) 1234-5457', 'irmão (00) 1234-5458',
       'irmão (00) 1234-5459', 'irmão (00) 1234-5460',
       'irmão (00) 1234-5461', 'irmão (00) 1234-5462',
       'irmão (00) 1234-5463', 'irmão (00) 1234-5464',
       'irmão (00) 1234-5465', 'irmão (00) 1234-5466',
       'irmão (00) 1234-5467', 'irmão (00) 1234-5468',
       'irmão (00) 1234-5469', 'irmão (00) 1234-5470',
       'irmão (00) 1234-5471', 'irmão (00) 1234-5472',
       'irmão (00) 1234-5473', 'irmão (00) 1234-5474',
       'irmão (00) 1234-5475', 'irmão (00) 1234-5476',
       'irmão (00) 1234-5477', 'irmão (00) 1234-5478',
       'irmão (00) 1234-5479', '(00) 1234-5480', '(00) 1234-5481',
       '(00) 1234-5482', '(00) 1234-5483', '(00) 1234-5484',
       '(00) 1234-5485', '(00) 1234-5486', '(00) 1234-5487',
       '(00) 1234-5488', '(00) 1234-5489', '(00) 1234-5490',
       '(00) 1234-5491', '(00) 1234-5492', '(00) 1234-5493',
       '(00) 1234-5494', '(00) 1234-5495', '(00) 1234-5496',
       '(00) 1234-5497', '(00) 1234-5498', '(00) 1234-5499',
       '(00) 1234-5500', '(00) 1234-5501', '(00) 1234-5502',
       '(00) 1234-5503', '(00) 1234-5504', '(00) 1234-5505',
       '(00) 1234-5506', '(00) 1234-5507', '(00) 1234-5508',
       '(00) 1234-5509', '(00) 1234-5510', '(00) 1234-5511',
       '(00) 1234-5512', '(00) 1234-5513', '(00) 1234-5514',
       '(00) 1234-5515', '(00) 1234-5516', '(00) 1234-5517',
       '(00) 1234-5518', '(00) 1234-5519', '(00) 1234-5520',
       '(00) 1234-5521', '(00) 1234-5522', '(00) 1234-5523',
       '(00) 1234-5524', '(00) 1234-5525', '(00) 1234-5526',
       '(00) 1234-5527', '(00) 1234-5528', '(00) 1234-5529',
       '(00) 1234-5530', '(00) 1234-5531', '(00) 1234-5532',
       '(00) 1234-5533', '(00) 1234-5534', '(00) 1234-5535',
       '(00) 1234-5536', '(00) 1234-5537', '(00) 1234-5538',
       '(00) 1234-5539', '(00) 1234-5540', '(00) 1234-5541',
       '(00) 1234-5542', '(00) 1234-5543', '(00) 1234-5544',
       '(00) 1234-5545', '(00) 1234-5546', '(00) 1234-5547',
       '(00) 1234-5548', '(00) 1234-5549', '(00) 1234-5550',
       '(00) 1234-5551', '(00) 1234-5552', '(00) 1234-5553',
       '(00) 1234-5554', '(00) 1234-5555', '(00) 1234-5556',
       '(00) 1234-5557', '(00) 1234-5558', '(00) 1234-5559',
       '(00) 1234-5560', '(00) 1234-5561', '(00) 1234-5562',
       '(00) 1234-5563', '(00) 1234-5564', '(00) 1234-5565',
       '(00) 1234-5566', '(00) 1234-5567', '(00) 1234-5568',
       '(00) 1234-5569', '(00) 1234-5570', '(00) 1234-5571',
       '(00) 1234-5572', '(00) 1234-5573', '(00) 1234-5574',
       '(00) 1234-5575', '(00) 1234-5576', '(00) 1234-5577',
       '(00) 1234-5578', '(00) 1234-5579', '(00) 1234-5580',
       '(00) 1234-5581', '(00) 1234-5582', '(00) 1234-5583',
       '(00) 1234-5584', '(00) 1234-5585', '(00) 1234-5586',
       '(00) 1234-5587', '(00) 1234-5588', '(00) 1234-5589',
       '(00) 1234-5590', '(00) 1234-5591', '(00) 1234-5592',
       '(00) 1234-5593', '(00) 1234-5594', '(00) 1234-5595',
       '(00) 1234-5596', '(00) 1234-5597', '(00) 1234-5598',
       '(00) 1234-5599', '(00) 1234-5600', '(00) 1234-5601',
       '(00) 1234-5602', '(00) 1234-5603', '(00) 1234-5604',
       '(00) 1234-5605', '(00) 1234-5606', '(00) 1234-5607',
       '(00) 1234-5608', '(00) 1234-5609', '(00) 1234-5610',
       '(00) 1234-5611', '(00) 1234-5612', '(00) 1234-5613',
       '(00) 1234-5614', '(00) 1234-5615', '(00) 1234-5616',
       '(00) 1234-5617', '(00) 1234-5618', '(00) 1234-5619',
       '(00) 1234-5620', '(00) 1234-5621', '(00) 1234-5622',
       '(00) 1234-5623', '(00) 1234-5624', '(00) 1234-5625',
       '(00) 1234-5626', '(00) 1234-5627', '(00) 1234-5628',
       '(00) 1234-5629', '(00) 1234-5630', '(00) 1234-5631',
       '(00) 1234-5632', '(00) 1234-5633', '(00) 1234-5634',
       '(00) 1234-5635', '(00) 1234-5636', '(00) 1234-5637',
       '(00) 1234-5638', '(00) 1234-5639', '(00) 1234-5640',
       '(00) 1234-5641', '(00) 1234-5642', '(00) 1234-5643',
       '(00) 1234-5644', '(00) 1234-5645', '(00) 1234-5646',
       '(00) 1234-5647', '(00) 1234-5648', '(00) 1234-5649',
       '(00) 1234-5650', '(00) 1234-5651', '(00) 1234-5652',
       '(00) 1234-5653', '(00) 1234-5654', '(00) 1234-5655',
       '(00) 1234-5656', '(00) 1234-5657', '(00) 1234-5658',
       '(00) 1234-5659', '(00) 1234-5660', '(00) 1234-5661',
       '(00) 1234-5662', '(00) 1234-5663', '(00) 1234-5664',
       '(00) 1234-5665', '(00) 1234-5666', '(00) 1234-5667',
       '(00) 1234-5668', '(00) 1234-5669', '(00) 1234-5670',
       '(00) 1234-5671', '(00) 1234-5672', '(00) 1234-5673',
       '(00) 1234-5674', '(00) 1234-5675', '(00) 1234-5676',
       '(00) 1234-5677', '(00) 1234-5678', '(00) 1234-5679',
       '(00) 1234-5680', '(00) 1234-5681', '(00) 1234-5682',
       '(00) 1234-5683', '(00) 1234-5684', '(00) 1234-5685',
       '(00) 1234-5686', '(00) 1234-5687', '(00) 1234-5688',
       '(00) 1234-5689', '(00) 1234-5690', '(00) 1234-5691',
       '(00) 1234-5692', '(00) 1234-5693', '(00) 1234-5694',
       '(00) 1234-5695', '(00) 1234-5696', '(00) 1234-5697',
       '(00) 1234-5698', '(00) 1234-5699', '(00) 1234-5700',
       '(00) 1234-5701', '(00) 1234-5702', '(00) 1234-5703',
       '(00) 1234-5704', '(00) 1234-5705', '(00) 1234-5706',
       '(00) 1234-5707', '(00) 1234-5708', '(00) 1234-5709',
       '(00) 1234-5710', '(00) 1234-5711', '(00) 1234-5712',
       '(00) 1234-5713', '(00) 1234-5714', '(00) 1234-5715',
       '(00) 1234-5716', '(00) 1234-5717', '(00) 1234-5718',
       '(00) 1234-5719', '(00) 1234-5720', '(00) 1234-5721',
       '(00) 1234-5722', '(00) 1234-5723', '(00) 1234-5724',
       '(00) 1234-5725', '(00) 1234-5726', '(00) 1234-5727',
       '(00) 1234-5728', '(00) 1234-5729', '(00) 1234-5730',
       '(00) 1234-5731', '(00) 1234-5732', '(00) 1234-5733',
       '(00) 1234-5734', '(00) 1234-5735', '(00) 1234-5736',
       '(00) 1234-5737', '(00) 1234-5738', '(00) 1234-5739',
       '(00) 1234-5740', '(00) 1234-5741', '(00) 1234-5742',
       '(00) 1234-5743', '(00) 1234-5744', '(00) 1234-5745',
       '(00) 1234-5746', '(00) 1234-5747', '(00) 1234-5748',
       '(00) 1234-5749', '(00) 1234-5750', '(00) 1234-5751',
       '(00) 1234-5752', '(00) 1234-5753', '(00) 1234-5754',
       '(00) 1234-5755', '(00) 1234-5756', '(00) 1234-5757',
       '(00) 1234-5758', '(00) 1234-5759', '(00) 1234-5760',
       '(00) 1234-5761', '(00) 1234-5762', '(00) 1234-5763',
       '(00) 1234-5764', '(00) 1234-5765', '(00) 1234-5766',
       '(00) 1234-5767', '(00) 1234-5768', '(00) 1234-5769',
       '(00) 1234-5770', '(00) 1234-5771', '(00) 1234-5772',
       '(00) 1234-5773', '(00) 1234-5774', '(00) 1234-5775',
       '(00) 1234-5776', '(00) 1234-5777', '(00) 1234-5778',
       '(00) 1234-5779', '(00) 1234-5780', '(00) 1234-5781',
       '(00) 1234-5782', '(00) 1234-5783', '(00) 1234-5784',
       '(00) 1234-5785', '(00) 1234-5786', '(00) 1234-5787',
       '(00) 1234-5788', '(00) 1234-5789', '(00) 1234-5790',
       '(00) 1234-5791', '(00) 1234-5792', '(00) 1234-5793',
       '(00) 1234-5794', '(00) 1234-5795', '(00) 1234-5796',
       '(00) 1234-5797', '(00) 1234-5798', '(00) 1234-5799',
       '(00) 1234-5800', '(00) 1234-5801', '(00) 1234-5802',
       '(00) 1234-5803', '(00) 1234-5804', '(00) 1234-5805',
       '(00) 1234-5806', '(00) 1234-5807', '(00) 1234-5808',
       '(00) 1234-5809', '(00) 1234-5810', '(00) 1234-5811',
       '(00) 1234-5812', '(00) 1234-5813', '(00) 1234-5814',
       '(00) 1234-5815', '(00) 1234-5816', '(00) 1234-5817',
       '(00) 1234-5818', '(00) 1234-5819', '(00) 1234-5820',
       '(00) 1234-5821', '(00) 1234-5822', '(00) 1234-5823',
       '(00) 1234-5824', '(00) 1234-5825', '(00) 1234-5826',
       '(00) 1234-5827', '(00) 1234-5828', '(00) 1234-5829',
       '(00) 1234-5830', '(00) 1234-5831', '(00) 1234-5832',
       '(00) 1234-5833', '(00) 1234-5834', '(00) 1234-5835',
       '(00) 1234-5836', '(00) 1234-5837', '(00) 1234-5838',
       '(00) 1234-5839', '(00) 1234-5840', '(00) 1234-5841',
       '(00) 1234-5842', '(00) 1234-5843', '(00) 1234-5844',
       '(00) 1234-5845', '(00) 1234-5846', '(00) 1234-5847',
       '(00) 1234-5848', '(00) 1234-5849', '(00) 1234-5850',
       '(00) 1234-5851', '(00) 1234-5852', '(00) 1234-5853',
       '(00) 1234-5854', '(00) 1234-5855', '(00) 1234-5856',
       '(00) 1234-5857', '(00) 1234-5858', '(00) 1234-5859',
       '(00) 1234-5860', '(00) 1234-5861', '(00) 1234-5862',
       '(00) 1234-5863', '(00) 1234-5864', '(00) 1234-5865',
       '(00) 1234-5866', '(00) 1234-5867', '(00) 1234-5868',
       '(00) 1234-5869', '(00) 1234-5870', '(00) 1234-5871',
       '(00) 1234-5872', '(00) 1234-5873', '(00) 1234-5874',
       '(00) 1234-5875', '(00) 1234-5876', '(00) 1234-5877',
       '(00) 1234-5878', '(00) 1234-5879', '(00) 1234-5880',
       '(00) 1234-5881', '(00) 1234-5882', '(00) 1234-5883',
       '(00) 1234-5884', '(00) 1234-5885', '(00) 1234-5886',
       '(00) 1234-5887', '(00) 1234-5888', '(00) 1234-5889',
       '(00) 1234-5890', '(00) 1234-5891', '(00) 1234-5892',
       '(00) 1234-5893', '(00) 1234-5894', '(00) 1234-5895',
       '(00) 1234-5896', '(00) 1234-5897', '(00) 1234-5898',
       '(00) 1234-5899', '(00) 1234-5900', '(00) 1234-5901',
       '(00) 1234-5902', '(00) 1234-5903', '(00) 1234-5904',
       '(00) 1234-5905', '(00) 1234-5906', '(00) 1234-5907',
       '(00) 1234-5908', '(00) 1234-5909', '(00) 1234-5910',
       '(00) 1234-5911', '(00) 1234-5912', '(00) 1234-5913',
       '(00) 1234-5914', '(00) 1234-5915', '(00) 1234-5916',
       '(00) 1234-5917', '(00) 1234-5918', '(00) 1234-5919',
       '(00) 1234-5920', '(00) 1234-5921', '(00) 1234-5922',
       '(00) 1234-5923', '(00) 1234-5924', '(00) 1234-5925',
       '(00) 1234-5926', '(00) 1234-5927', '(00) 1234-5928',
       '(00) 1234-5929', '(00) 1234-5930', '(00) 1234-5931',
       '(00) 1234-5932', '(00) 1234-5933', '(00) 1234-5934',
       '(00) 1234-5935', '(00) 1234-5936', '(00) 1234-5937',
       '(00) 1234-5938', '(00) 1234-5939', '(00) 1234-5940',
       '(00) 1234-5941', '(00) 1234-5942', '(00) 1234-5943',
       '(00) 1234-5944', '(00) 1234-5945', '(00) 1234-5946',
       '(00) 1234-5947', '(00) 1234-5948', '(00) 1234-5949',
       '(00) 1234-5950', '(00) 1234-5951', '(00) 1234-5952',
       '(00) 1234-5953', '(00) 1234-5954', '(00) 1234-5955',
       '(00) 1234-5956', '(00) 1234-5957', '(00) 1234-5958',
       '(00) 1234-5959', '(00) 1234-5960', '(00) 1234-5961',
       '(00) 1234-5962', '(00) 1234-5963', '(00) 1234-5964',
       '(00) 1234-5965', '(00) 1234-5966', '(00) 1234-5967',
       '(00) 1234-5968', '(00) 1234-5969', '(00) 1234-5970',
       '(00) 1234-5971', '(00) 1234-5972', '(00) 1234-5973',
       '(00) 1234-5974', '(00) 1234-5975', '(00) 1234-5976',
       '(00) 1234-5977', '(00) 1234-5978', '(00) 1234-5979',
       '(00) 1234-5980', '(00) 1234-5981', '(00) 1234-5982',
       '(00) 1234-5983', '(00) 1234-5984', '(00) 1234-5985',
       '(00) 1234-5986', '(00) 1234-5987', '(00) 1234-5988',
       '(00) 1234-5989', '(00) 1234-5990', '(00) 1234-5991',
       '(00) 1234-5992', '(00) 1234-5993', '(00) 1234-5994',
       '(00) 1234-5995', '(00) 1234-5996', '(00) 1234-5997',
       '(00) 1234-5998', '(00) 1234-5999', '(00) 1234-6000',
       '(00) 1234-6001', '(00) 1234-6002', '(00) 1234-6003',
       '(00) 1234-6004', '(00) 1234-6005', '(00) 1234-6006',
       '(00) 1234-6007', '(00) 1234-6008', '(00) 1234-6009',
       '(00) 1234-6010', '(00) 1234-6011', '(00) 1234-6012',
       '(00) 1234-6013', '(00) 1234-6014', '(00) 1234-6015',
       '(00) 1234-6016', '(00) 1234-6017', '(00) 1234-6018',
       '(00) 1234-6019', '(00) 1234-6020', '(00) 1234-6021',
       '(00) 1234-6022', '(00) 1234-6023', '(00) 1234-6024',
       '(00) 1234-6025', '(00) 1234-6026', '(00) 1234-6027',
       '(00) 1234-6028', '(00) 1234-6029', '(00) 1234-6030',
       '(00) 1234-6031', '(00) 1234-6032', '(00) 1234-6033',
       '(00) 1234-6034', '(00) 1234-6035', '(00) 1234-6036',
       '(00) 1234-6037', '(00) 1234-6038', '(00) 1234-6039',
       '(00) 1234-6040', '(00) 1234-6041', '(00) 1234-6042',
       '(00) 1234-6043', '(00) 1234-6044', '(00) 1234-6045',
       '(00) 1234-6046', '(00) 1234-6047', '(00) 1234-6048',
       '(00) 1234-6049', '(00) 1234-6050', '(00) 1234-6051',
       '(00) 1234-6052', '(00) 1234-6053', '(00) 1234-6054',
       '(00) 1234-6055', '(00) 1234-6056', '(00) 1234-6057',
       '(00) 1234-6058', '(00) 1234-6059', '(00) 1234-6060',
       '(00) 1234-6061', '(00) 1234-6062', '(00) 1234-6063',
       '(00) 1234-6064', '(00) 1234-6065', '(00) 1234-6066',
       '(00) 1234-6067', '(00) 1234-6068', '(00) 1234-6069',
       '(00) 1234-6070', '(00) 1234-6071', '(00) 1234-6072',
       '(00) 1234-6073', '(00) 1234-6074', '(00) 1234-6075',
       '(00) 1234-6076', '(00) 1234-6077', '(00) 1234-6078',
       '(00) 1234-6079', '(00) 1234-6080', '(00) 1234-6081',
       '(00) 1234-6082', '(00) 1234-6083', '(00) 1234-6084',
       '(00) 1234-6085', '(00) 1234-6086', '(00) 1234-6087',
       '(00) 1234-6088', '(00) 1234-6089', '(00) 1234-6090',
       '(00) 1234-6091', '(00) 1234-6092', '(00) 1234-6093',
       '(00) 1234-6094', '(00) 1234-6095', '(00) 1234-6096',
       '(00) 1234-6097', '(00) 1234-6098', '(00) 1234-6099',
       '(00) 1234-6100', '(00) 1234-6101', '(00) 1234-6102',
       '(00) 1234-6103', '(00) 1234-6104', '(00) 1234-6105',
       '(00) 1234-6106', '(00) 1234-6107', '(00) 1234-6108',
       '(00) 1234-6109', '(00) 1234-6110', '(00) 1234-6111',
       '(00) 1234-6112', '(00) 1234-6113', '(00) 1234-6114',
       '(00) 1234-6115', '(00) 1234-6116', '(00) 1234-6117',
       '(00) 1234-6118', '(00) 1234-6119', '(00) 1234-6120',
       '(00) 1234-6121', '(00) 1234-6122', '(00) 1234-6123',
       '(00) 1234-6124', '(00) 1234-6125', '(00) 1234-6126',
       '(00) 1234-6127', '(00) 1234-6128', '(00) 1234-6129',
       '(00) 1234-6130', '(00) 1234-6131', '(00) 1234-6132',
       '(00) 1234-6133', '(00) 1234-6134', '(00) 1234-6135',
       '(00) 1234-6136', '(00) 1234-6137', '(00) 1234-6138',
       '(00) 1234-6139', '(00) 1234-6140', '(00) 1234-6141',
       '(00) 1234-6142', '(00) 1234-6143', '(00) 1234-6144',
       '(00) 1234-6145', '(00) 1234-6146', '(00) 1234-6147',
       '(00) 1234-6148', '(00) 1234-6149', '(00) 1234-6150',
       '(00) 1234-6151', '(00) 1234-6152', '(00) 1234-6153',
       '(00) 1234-6154', '(00) 1234-6155', '(00) 1234-6156',
       '(00) 1234-6157', '(00) 1234-6158', '(00) 1234-6159',
       '(00) 1234-6160', '(00) 1234-6161', '(00) 1234-6162',
       '(00) 1234-6163', '(00) 1234-6164', '(00) 1234-6165',
       '(00) 1234-6166', '(00) 1234-6167', '(00) 1234-6168',
       '(00) 1234-6169', '(00) 1234-6170', '(00) 1234-6171',
       '(00) 1234-6172', '(00) 1234-6173', '(00) 1234-6174',
       '(00) 1234-6175', '(00) 1234-6176', '(00) 1234-6177',
       '(00) 1234-6178', '(00) 1234-6179', '(00) 1234-6180',
       '(00) 1234-6181', '(00) 1234-6182', '(00) 1234-6183',
       '(00) 1234-6184', '(00) 1234-6185', '(00) 1234-6186',
       '(00) 1234-6187', '(00) 1234-6188', '(00) 1234-6189',
       '(00) 1234-6190', '(00) 1234-6191', '(00) 1234-6192',
       '(00) 1234-6193', '(00) 1234-6194', '(00) 1234-6195',
       '(00) 1234-6196', '(00) 1234-6197', '(00) 1234-6198',
       '(00) 1234-6199', '(00) 1234-6200', '(00) 1234-6201',
       '(00) 1234-6202', '(00) 1234-6203', '(00) 1234-6204',
       '(00) 1234-6205', '(00) 1234-6206', '(00) 1234-6207',
       '(00) 1234-6208', '(00) 1234-6209', '(00) 1234-6210',
       '(00) 1234-6211', '(00) 1234-6212', '(00) 1234-6213',
       '(00) 1234-6214', '(00) 1234-6215', '(00) 1234-6216',
       '(00) 1234-6217', '(00) 1234-6218', '(00) 1234-6219',
       '(00) 1234-6220', '(00) 1234-6221', '(00) 1234-6222',
       '(00) 1234-6223', '(00) 1234-6224', '(00) 1234-6225',
       '(00) 1234-6226', '(00) 1234-6227', '(00) 1234-6228',
       '(00) 1234-6229', '(00) 1234-6230', '(00) 1234-6231',
       '(00) 1234-6232', '(00) 1234-6233', '(00) 1234-6234',
       '(00) 1234-6235', '(00) 1234-6236', '(00) 1234-6237',
       '(00) 1234-6238', '(00) 1234-6239', '(00) 1234-6240',
       '(00) 1234-6241', '(00) 1234-6242', '(00) 1234-6243',
       '(00) 1234-6244', '(00) 1234-6245', '(00) 1234-6246',
       '(00) 1234-6247', '(00) 1234-6248', '(00) 1234-6249',
       '(00) 1234-6250', '(00) 1234-6251', '(00) 1234-6252',
       '(00) 1234-6253', '(00) 1234-6254', '(00) 1234-6255',
       '(00) 1234-6256', '(00) 1234-6257', '(00) 1234-6258',
       '(00) 1234-6259', '(00) 1234-6260', '(00) 1234-6261',
       '(00) 1234-6262', '(00) 1234-6263', '(00) 1234-6264',
       '(00) 1234-6265', '(00) 1234-6266', '(00) 1234-6267',
       '(00) 1234-6268', '(00) 1234-6269', '(00) 1234-6270',
       '(00) 1234-6271', '(00) 1234-6272', '(00) 1234-6273',
       '(00) 1234-6274', '(00) 1234-6275', '(00) 1234-6276',
       '(00) 1234-6277', '(00) 1234-6278', '(00) 1234-6279',
       '(00) 1234-6280', '(00) 1234-6281', '(00) 1234-6282',
       '(00) 1234-6283', '(00) 1234-6284', '(00) 1234-6285',
       '(00) 1234-6286', '(00) 1234-6287', '(00) 1234-6288',
       '(00) 1234-6289', '(00) 1234-6290', '(00) 1234-6291',
       '(00) 1234-6292', '(00) 1234-6293', '(00) 1234-6294',
       '(00) 1234-6295', '(00) 1234-6296', '(00) 1234-6297',
       '(00) 1234-6298', '(00) 1234-6299', '(00) 1234-6300',
       '(00) 1234-6301', '(00) 1234-6302', '(00) 1234-6303',
       '(00) 1234-6304', '(00) 1234-6305', '(00) 1234-6306',
       '(00) 1234-6307', '(00) 1234-6308', '(00) 1234-6309',
       '(00) 1234-6310', '(00) 1234-6311', '(00) 1234-6312',
       '(00) 1234-6313', '(00) 1234-6314', '(00) 1234-6315',
       '(00) 1234-6316', '(00) 1234-6317', '(00) 1234-6318'], dtype=object)

In [19]:
clientes_CodEmpresa_copy = clientes_CodEmpresa.copy()
clientes_CodEmpresa_copy.dropna(axis=1, how="all").info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1661 entries, 0 to 1660
Data columns (total 52 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   codigo                     1661 non-null   int64
 1   codempresa                 1661 non-null   int64
 2   codigo_unit                1661 non-null   int64
 3   razao_social               1661 non-null   object
 4   nome_fantasia              3 non-null      object
 5   responsavel                3 non-null      object
 6   cnpj                       908 non-null    object
 7   contato_nome               56 non-null     object
 8   contato_telefone1          768 non-null    object
 9   inscricao_estadual         3 non-null      float64
 10  inscricao_municipal        1 non-null      float64
 11  ramo_atividade             37 non-null     object
 12  estado_civil               1236 non-null   object
 13  cpf                        274 non-null    object
 14  rg                         1124 non-null   object
 15  nascimento                 1242 non-null   object
 16  profissao                  1086 non-null   object
 17  nacionalidade              1316 non-null   object
 18  logradouro                 1073 non-null   object
 19  bairro                     1466 non-null   object
 20  cep                        500 non-null    object
 21  cidade                     1634 non-null   object
 22  uf                         1634 non-null   object
 23  telefone1                  919 non-null    object
 24  telefone2                  1491 non-null   object
 25  telefone3                  630 non-null    object
 26  email1                     2 non-null      object
 27  email2                     2 non-null      object
 28  site                       5 non-null      object
 29  observacoes                437 non-null    object
 30  cliente                    1661 non-null   object
 31  tipocliente                1657 non-null   float64
 32  ativo                      1661 non-null   int64
 33  inclusao                   1660 non-null   object
 34  grupo_cliente              1660 non-null   float64
 35  contato_telefone2          37 non-null     object
 36  telefone_comercial         862 non-null    object
 37  pis                        134 non-null    float64
 38  nome_pai                   142 non-null    object
 39  nome_mae                   142 non-null    object
 40  pac                        1660 non-null   float64
 41  visualizado_relatorio_pac  1660 non-null   float64
 42  cod_fase_cliente           1660 non-null   float64
 43  razao_social_2             1660 non-null   object
 44  cpf_cnpj                   945 non-null    object
 45  cod_perfil_cliente         1660 non-null   float64
 46  campo_livre1               14 non-null     object
 47  campo_livre2               4 non-null      object
 48  cod_campo_livre2           890 non-null    float64
 49  cod_terceiro_categoria     17 non-null     float64
 50  numero_pasta               1255 non-null   float64
 51  cod_escolaridade           90 non-null     float64
dtypes: float64(13), int64(4), object(35)
memory usage: 674.9+ KB

In [20]:
clientes_CodEmpresa_formatado = clientes_CodEmpresa[["codigo","razao_social","razao_social_2","contato_nome", "cpf_cnpj", "rg", "nacionalidade", 
                                                     "nascimento", "estado_civil", "profissao", "contato_telefone1", "telefone1", "telefone2",
                                                     "telefone3","contato_telefone2", "telefone_comercial", "email1", "email2", "uf", "cidade", 
                                                     "bairro", "cep", "pis", "nome_mae", "observacoes"]]
clientes_CodEmpresa_formatado

,codigo,razao_social,razao_social_2,contato_nome,cpf_cnpj,rg,nacionalidade,nascimento,estado_civil,profissao,...,telefone_comercial,email1,email2,uf,cidade,bairro,cep,pis,nome_mae,observacoes
0,106207729,Fulano(a) 1,FULANO(A) 1,NaN,123.456.789-00,UF 1.234.567,Brasileiro,27/02/1957 00:00,NaN,NaN,...,NaN,NaN,NaN,SC,Floripa,Centro,123456-00,NaN,Maria 1,Obs 1
1,106206605,Fulano(a) 2,FULANO(A) 2,NaN,123.456.789-01,12.123.123-0,Brasileira,13/01/1966 00:00,CA,NaN,...,NaN,NaN,NaN,SC,Florianopolis,Centro,123456-01,NaN,Maria 2,Obs 2
2,8897738,Fulano(a) 3,FULANO(A) 3,NaN,123.456.789-02,12.123.123-1,Brasileiro,10/05/1982 00:00,CA,EmpresÃ¡rio,...,NaN,c1@hotmail.com,c2@gmail.com,SC,Florianopolis,Centro,123456-02,1.234568e+10,Maria 3,Obs 3
3,5251301,Fulano(a) 4,FULANO(A) 4,NaN,123.456.789-03,12.123.123-2,Brasileira,01/01/1956 00:00,CA,Auxiliar de ServiÃ§os Gerais,...,NaN,NaN,c3@gmail.com,SC,Florianopolis,Centro,123456-03,1.234568e+10,Maria 4,Obs 4
4,13203419,Fulano(a) 5,FULANO(A) 5,Jana,123.456.789-04,12.123.123-3,Brasileira,14/04/1963 00:00,CA,IndustriÃ¡rio,...,NaN,c4@hotmail.com,NaN,Sc,Floripa,Centro,123456-04,1.234568e+10,Maria 5,Obs 5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1656,104966717,Fulano(a) 1657,FULANO(A) 1657,NaN,12.345.678/0001-915,NaN,Brasileiro,10/10/1969 00:00,CA,Bombeiro Civil,...,NaN,NaN,NaN,SC,Floripa,Amaro Lanari,NaN,NaN,NaN,NaN
1657,5868578,Fulano(a) 1658,FULANO(A) 1658,NaN,12.345.678/0001-916,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,PR,Rib. Do Pinhal,Usiminas,NaN,NaN,NaN,NaN
1658,103056471,Fulano(a) 1659,FULANO(A) 1659,NaN,12.345.678/0001-917,NaN,Brasileira,23/04/1998 00:00,SO,Desempregado,...,NaN,NaN,NaN,PR,Ribeirao do Pinhal,CanaÃ£,NaN,NaN,NaN,NaN
1659,105142293,Fulano(a) 1660,FULANO(A) 1660,NaN,12.345.678/0001-918,NaN,NaN,28/03/1964 00:00,NaN,NaN,...,NaN,NaN,NaN,PR,Ribei. Pinhal,NaN,NaN,NaN,NaN,NaN
1660,15159965,Fulano(a) 1661,NaN,NaN,NaN,NaN,Brasileira,16/05/1964 00:00,SO,Gerente de Acougue,...,NaN,NaN,NaN,SC,Floripa,CÃ³rrego Novo,NaN,NaN,NaN,NaN

In [21]:
clientes_CodEmpresa_formatado["nascimento"] = pd.to_datetime(clientes_CodEmpresa_formatado["nascimento"]).dt.strftime("%d/%m/%Y")
clientes_CodEmpresa_formatado["nascimento"]

C:\Users\vini7\AppData\Local\Temp\ipykernel_7056\2415392849.py:1: UserWarning: Parsing dates in %d/%m/%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  clientes_CodEmpresa_formatado["nascimento"] = pd.to_datetime(clientes_CodEmpresa_formatado["nascimento"]).dt.strftime("%d/%m/%Y")
C:\Users\vini7\AppData\Local\Temp\ipykernel_7056\2415392849.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clientes_CodEmpresa_formatado["nascimento"] = pd.to_datetime(clientes_CodEmpresa_formatado["nascimento"]).dt.strftime("%d/%m/%Y")

0       27/02/1957
1       13/01/1966
2       10/05/1982
3       01/01/1956
4       14/04/1963
           ...
1656    10/10/1969
1657           NaN
1658    23/04/1998
1659    28/03/1964
1660    16/05/1964
Name: nascimento, Length: 1661, dtype: object

In [22]:
clientes_CodEmpresa_formatado["rg"] = clientes_CodEmpresa_formatado["rg"].replace("UF", "", regex=True)
clientes_CodEmpresa_formatado["rg"]

C:\Users\vini7\AppData\Local\Temp\ipykernel_7056\923638354.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clientes_CodEmpresa_formatado["rg"] = clientes_CodEmpresa_formatado["rg"].replace("UF", "", regex=True)

0          1.234.567
1       12.123.123-0
2       12.123.123-1
3       12.123.123-2
4       12.123.123-3
            ...
1656             NaN
1657             NaN
1658             NaN
1659             NaN
1660             NaN
Name: rg, Length: 1661, dtype: object

In [23]:
clientes_CodEmpresa_formatado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1661 entries, 0 to 1660
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   codigo              1661 non-null   int64
 1   razao_social        1661 non-null   object
 2   razao_social_2      1660 non-null   object
 3   contato_nome        56 non-null     object
 4   cpf_cnpj            945 non-null    object
 5   rg                  1124 non-null   object
 6   nacionalidade       1316 non-null   object
 7   nascimento          1242 non-null   object
 8   estado_civil        1236 non-null   object
 9   profissao           1086 non-null   object
 10  contato_telefone1   768 non-null    object
 11  telefone1           919 non-null    object
 12  telefone2           1491 non-null   object
 13  telefone3           630 non-null    object
 14  contato_telefone2   37 non-null     object
 15  telefone_comercial  862 non-null    object
 16  email1              2 non-null      object
 17  email2              2 non-null      object
 18  uf                  1634 non-null   object
 19  cidade              1634 non-null   object
 20  bairro              1466 non-null   object
 21  cep                 500 non-null    object
 22  pis                 134 non-null    float64
 23  nome_mae            142 non-null    object
 24  observacoes         437 non-null    object
dtypes: float64(1), int64(1), object(23)
memory usage: 324.5+ KB

In [24]:
clientes_CodEmpresa_formatado["sexo"] = "Sem_dados"

masculino = re.compile(r'[A-Za-z]+ro')
feminino = re.compile(r'[A-Za-z]+ra')

for i, nacionalidade in enumerate(clientes_CodEmpresa_formatado["nacionalidade"]):
    
    if isinstance(nacionalidade, str):
        if masculino.search(nacionalidade):
            clientes_CodEmpresa_formatado.at[i, "sexo"] = "M"
        elif feminino.search(nacionalidade):
            clientes_CodEmpresa_formatado.at[i, "sexo"] = "F"

clientes_CodEmpresa_formatado[["nacionalidade", "sexo"]]

C:\Users\vini7\AppData\Local\Temp\ipykernel_7056\3643260988.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clientes_CodEmpresa_formatado["sexo"] = "Sem_dados"

     nacionalidade       sexo
0       Brasileiro          M
1       Brasileira          F
2       Brasileiro          M
3       Brasileira          F
4       Brasileira          F
...            ...        ...
1656    Brasileiro          M
1657           NaN  Sem_dados
1658    Brasileira          F
1659           NaN  Sem_dados
1660    Brasileira          F

[1661 rows x 2 columns]

In [25]:
clientes_CodEmpresa_formatado

,codigo,razao_social,razao_social_2,contato_nome,cpf_cnpj,rg,nacionalidade,nascimento,estado_civil,profissao,...,email1,email2,uf,cidade,bairro,cep,pis,nome_mae,observacoes,sexo
0,106207729,Fulano(a) 1,FULANO(A) 1,NaN,123.456.789-00,1.234.567,Brasileiro,27/02/1957,NaN,NaN,...,NaN,NaN,SC,Floripa,Centro,123456-00,NaN,Maria 1,Obs 1,M
1,106206605,Fulano(a) 2,FULANO(A) 2,NaN,123.456.789-01,12.123.123-0,Brasileira,13/01/1966,CA,NaN,...,NaN,NaN,SC,Florianopolis,Centro,123456-01,NaN,Maria 2,Obs 2,F
2,8897738,Fulano(a) 3,FULANO(A) 3,NaN,123.456.789-02,12.123.123-1,Brasileiro,10/05/1982,CA,EmpresÃ¡rio,...,c1@hotmail.com,c2@gmail.com,SC,Florianopolis,Centro,123456-02,1.234568e+10,Maria 3,Obs 3,M
3,5251301,Fulano(a) 4,FULANO(A) 4,NaN,123.456.789-03,12.123.123-2,Brasileira,01/01/1956,CA,Auxiliar de ServiÃ§os Gerais,...,NaN,c3@gmail.com,SC,Florianopolis,Centro,123456-03,1.234568e+10,Maria 4,Obs 4,F
4,13203419,Fulano(a) 5,FULANO(A) 5,Jana,123.456.789-04,12.123.123-3,Brasileira,14/04/1963,CA,IndustriÃ¡rio,...,c4@hotmail.com,NaN,Sc,Floripa,Centro,123456-04,1.234568e+10,Maria 5,Obs 5,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1656,104966717,Fulano(a) 1657,FULANO(A) 1657,NaN,12.345.678/0001-915,NaN,Brasileiro,10/10/1969,CA,Bombeiro Civil,...,NaN,NaN,SC,Floripa,Amaro Lanari,NaN,NaN,NaN,NaN,M
1657,5868578,Fulano(a) 1658,FULANO(A) 1658,NaN,12.345.678/0001-916,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,PR,Rib. Do Pinhal,Usiminas,NaN,NaN,NaN,NaN,Sem_dados
1658,103056471,Fulano(a) 1659,FULANO(A) 1659,NaN,12.345.678/0001-917,NaN,Brasileira,23/04/1998,SO,Desempregado,...,NaN,NaN,PR,Ribeirao do Pinhal,CanaÃ£,NaN,NaN,NaN,NaN,F
1659,105142293,Fulano(a) 1660,FULANO(A) 1660,NaN,12.345.678/0001-918,NaN,NaN,28/03/1964,NaN,NaN,...,NaN,NaN,PR,Ribei. Pinhal,NaN,NaN,NaN,NaN,NaN,Sem_dados
1660,15159965,Fulano(a) 1661,NaN,NaN,NaN,NaN,Brasileira,16/05/1964,SO,Gerente de Acougue,...,NaN,NaN,SC,Floripa,CÃ³rrego Novo,NaN,NaN,NaN,NaN,F

In [26]:
clientes_estadoCivil

,codigo,data_cadastro,ativo,sigla,descricao,cod_empresa
0,1,2012-06-01 03:10:08,1,SO,Solteiro(a),0
1,2,2012-06-01 03:10:15,1,CA,Casado(a),0
2,3,2012-06-01 03:10:21,1,DV,Divorciado(a),0
3,4,2012-06-01 03:10:27,1,SE,Separado(a) de Fato,0
4,5,2012-06-01 03:10:35,1,SJ,Separado(a) Judicialmente,0
5,6,2012-06-01 03:10:40,1,VI,ViÃºvo(a),0
6,7,2012-06-01 03:10:49,1,UE,UniÃ£o EstÃ¡vel,0

In [33]:
clientes_CodEmpresa_formatado1 = pd.merge(clientes_CodEmpresa_formatado, clientes_estadoCivil[["sigla", "descricao"]], 
                                                     left_on = "estado_civil", right_on = "sigla", how = "left")

clientes_CodEmpresa_formatado1 = clientes_CodEmpresa_formatado1.drop(axis=1, columns="estado_civil")
clientes_CodEmpresa_formatado1 = clientes_CodEmpresa_formatado1.drop(axis=1, columns="sigla")

clientes_CodEmpresa_formatado1 = clientes_CodEmpresa_formatado1.rename(columns={"descricao": "estado_civil"})

clientes_CodEmpresa_formatado1

,codigo,razao_social,razao_social_2,contato_nome,cpf_cnpj,rg,nacionalidade,nascimento,profissao,contato_telefone1,...,email2,uf,cidade,bairro,cep,pis,nome_mae,observacoes,sexo,estado_civil
0,106207729,Fulano(a) 1,FULANO(A) 1,NaN,123.456.789-00,1.234.567,Brasileiro,27/02/1957,NaN,NaN,...,NaN,SC,Floripa,Centro,123456-00,NaN,Maria 1,Obs 1,M,NaN
1,106206605,Fulano(a) 2,FULANO(A) 2,NaN,123.456.789-01,12.123.123-0,Brasileira,13/01/1966,NaN,NaN,...,NaN,SC,Florianopolis,Centro,123456-01,NaN,Maria 2,Obs 2,F,Casado(a)
2,8897738,Fulano(a) 3,FULANO(A) 3,NaN,123.456.789-02,12.123.123-1,Brasileiro,10/05/1982,EmpresÃ¡rio,NaN,...,c2@gmail.com,SC,Florianopolis,Centro,123456-02,1.234568e+10,Maria 3,Obs 3,M,Casado(a)
3,5251301,Fulano(a) 4,FULANO(A) 4,NaN,123.456.789-03,12.123.123-2,Brasileira,01/01/1956,Auxiliar de ServiÃ§os Gerais,NaN,...,c3@gmail.com,SC,Florianopolis,Centro,123456-03,1.234568e+10,Maria 4,Obs 4,F,Casado(a)
4,13203419,Fulano(a) 5,FULANO(A) 5,Jana,123.456.789-04,12.123.123-3,Brasileira,14/04/1963,IndustriÃ¡rio,(00) 1234-5456,...,NaN,Sc,Floripa,Centro,123456-04,1.234568e+10,Maria 5,Obs 5,F,Casado(a)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1656,104966717,Fulano(a) 1657,FULANO(A) 1657,NaN,12.345.678/0001-915,NaN,Brasileiro,10/10/1969,Bombeiro Civil,NaN,...,NaN,SC,Floripa,Amaro Lanari,NaN,NaN,NaN,NaN,M,Casado(a)
1657,5868578,Fulano(a) 1658,FULANO(A) 1658,NaN,12.345.678/0001-916,NaN,NaN,NaN,NaN,NaN,...,NaN,PR,Rib. Do Pinhal,Usiminas,NaN,NaN,NaN,NaN,Sem_dados,NaN
1658,103056471,Fulano(a) 1659,FULANO(A) 1659,NaN,12.345.678/0001-917,NaN,Brasileira,23/04/1998,Desempregado,NaN,...,NaN,PR,Ribeirao do Pinhal,CanaÃ£,NaN,NaN,NaN,NaN,F,Solteiro(a)
1659,105142293,Fulano(a) 1660,FULANO(A) 1660,NaN,12.345.678/0001-918,NaN,NaN,28/03/1964,NaN,NaN,...,NaN,PR,Ribei. Pinhal,NaN,NaN,NaN,NaN,NaN,Sem_dados,NaN
1660,15159965,Fulano(a) 1661,NaN,NaN,NaN,NaN,Brasileira,16/05/1964,Gerente de Acougue,NaN,...,NaN,SC,Floripa,CÃ³rrego Novo,NaN,NaN,NaN,NaN,F,Solteiro(a)